body{
    margin: 30px 70px 70px 30px;
    text-align: center;
    box-sizing: border-box;
}
div#form{
    margin: auto;
    padding: 20px;
    width: 480px;
    background-origin: padding-box;
    background-color: #CCFFDDAA;
    border-style: double;
    border-width: 12px;
    box-shadow: 10px 10px #66CC66;
    box-sizing: border-box;
}

.title{
    border: 3px solid black;
}

table{
    width: 100%;
    border: 3px solid black;
    border-collapse: collapse;
    box-sizing: border-box;
}

td{
    border: 3px solid black;
    padding: 5px;
}

td#date{
    width: 160px;
}

td#emotion{
    text-align: right;
    padding-right: 20px;
}

td#title{
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

td#content{
    padding: 8px;
    background-color: white;
}

td#img{
    background-color: white;
}

.icon{
    font-size: 20px;
}

#textarea1{
    width: 100%;
    height: 40px;
    margin: 0;
    color: green;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 28px;
    border: none;
    border-bottom: 2px solid #0000007e;
    border-radius: 10px 10px 0 0;
    outline: none;
}

#textarea2{
    width: 100%;
    height: 255px;
    color: blue;
    resize: none;
    font-size: 16px;
    background-image: url(images/letter.jpg);
    background-size: 100% 310px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 28px;
    margin: 0;
    border: none;
    border-bottom: 2px solid #0000007e;
    outline: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
}

#submit{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: #336633;
}